body {
    margin: 0; 
    font-family: monospace;
    margin: 5vmax;
}

header {
    background-color: blueviolet;
    padding: 18px;
    margin-bottom: 18px;
}

header > h2 {
    color: aqua
}

footer {
    background-color: black;
}

footer > ul {
    color: white;
    font-weight: bold;
}

.container {
    padding-left: 10px;
}

.div-produtos {
    margin-top: 18px;
    display: flex;
    align-items: center;
}